* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

:focus {
  outline: 1px solid rgb(255, 3, 129);
  outline-offset: 3px;
}

body {
  border: 1px solid rgb(255, 3, 129);
  background-color: rgb(40, 40, 40);
  color: whitesmoke;
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#titleBar {
  height: 40px;
  width: 100%;
  -webkit-app-region: drag;
  position: sticky;
  top: 0px;
  z-index: 2;
  transition: opacity 1s ease;
}

#appiconDiv {
  position: absolute;
  background-color: rgb(255, 3, 129);
  width: 55px;
  height: 55px;
  /*padding: 20px;*/
  border-radius: 5px 55px 55px 55px;
  top: 10px;
  left: 10px;
}

#appIcon {
  position: relative;
  top: 10%;
  left: 9%;
  width: 80%;
  height: 70%;
}

#appTitle {
  position: absolute;
  color: rgba(236, 163, 163, 0.733);
  font-weight: bold;
  font-size: 1.2em;
  top: 11px;
  left: 75px;
  padding: 0;
  margin-top: 0;
}

#appTitle > a {
  text-decoration: none;
  font-style: italic;
  font-weight: lighter;
  color: rgba(197, 155, 155, 0.6);
  font-size: 0.7em;
  margin-left: 5px;
  position: relative;
  bottom: 1px;
  -webkit-app-region: no-drag;
}

.windowButtons {
  float: right;
  height: 30px;
  width: 45px;
  padding: 6.5px 15px;
  -webkit-app-region: no-drag;
  margin-top: 0.4px;
}

.windowButtonsImg {
  height: 15px;
  width: 15px;
}

#minimizeImg {
  padding-top: 5px;
}

/*#closeImg{
  height: 18px;
  width: 20px;
}

#closeBtn {
  padding: 5px 20px 8px 12px;
}*/

#content-wrapper{
  overflow-x: hidden;
  padding-left: 10px;
  padding-right: 2px;

  height: calc(100vh - 85px);
  width: calc(100vw - 57px); /*5px space to the left, 2px space on the right, plus 50px for the sidebar.*/
  position: fixed;
  left: 55px; /*50px sidebar plus 5px gutter*/
  top: 84px; /*Positioned below the title bar*/
}

#other-sections{
  display: none;
  border: none;
  overflow-x: hidden;
  padding-left: 10px;
  padding-right: 2px;

  height: calc(100vh - 85px);
  width: calc(100vw - 57px); /*5px space to the left, 2px space on the right, plus 50px for the sidebar.*/
  position: fixed;
  left: 55px; /*50px sidebar plus 5px gutter*/
  top: 84px; /*Positioned below the title bar*/
}

.tabs {
  position: absolute;
  bottom: calc(100vh - 80px);
  left: 61px;
  width: calc(100vw - 66px);
  color: rgba(255, 255, 255, 0.226);
  font-size: 1.3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  padding-left: 14px;
}

.tabs span {
  padding: 2.5px 10px 0 10px;
  float: left;
  cursor: default;
  background-color: rgb(40, 40, 40); /*Set background color to remove transparency and allow covering the bottom border.*/

  color: rgba(255, 255, 255, 0.226);
  border: none;
  margin-bottom: initial;
}

#videos-tab { /*The initially selected tab on app startup.*/
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-bottom: none;
  margin-bottom: -1px;
}

#sideBar {
  height: calc(100vh - 79px);
  width: 50px;
  padding: 10px 0;
  position: fixed;
  left: 1px;
  top: 78px;
  background-color: rgb(30, 30, 30);
  box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.562) inset, -1px 1px 1px 1px rgba(0, 0, 0, 0.377) inset;
}

.sidebar-icons {
  width: 46px;
  height: 40px;
  padding: 5px;
  margin: 20px 0;
  border-left: 5px solid transparent;
}

.sidebar-icons>img {
  height: 30px;
}

.sidebar-icons>img:hover, .sidebar-icons>img:focus{transform: scale(1.1);}
.sidebar-icons>img:active{transform: scale(1);}

.selected-sidebar-icon {
  background-color: rgba(255, 3, 129, 0.15);
  border-left-color: rgba(255, 3, 129, 0.85);
}

#sidebar-top {
  position: absolute;
  top: 5px;
  z-index: 2;
}

#sidebar-top > .sidebar-icons {
  margin-bottom: 30px;
}

#sidebar-bottom {
  position: absolute;
  bottom: -5px;
  z-index: 2;
}

.inline-blocks-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 5px;
  /*overflow-x: scroll;*/
}

.inline-block-element {
  margin-bottom: 50px;
  margin-right: 40px;
  display: inline-block;
  flex-shrink: 0;
}

video:focus {
  outline: none;
}

.video-card {
  width: 35vh;
  height: 35vh;
  position: relative;
  border-radius: 10px;
  background-color: rgb(50, 50, 50);
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.2), 0 0 20px 1px rgba(0,0,0,0.19);
  /*transition: all .5s linear;*/
}

.video-card > div {
  /*position: absolute;
  bottom: 10px;*/
  overflow: hidden;

  transition: all .5s linear;
}

.thumbnail {
  box-shadow: 1px -4px 5px 1px rgba(0, 0, 0, 0.212), -1px -3px 5px 1px rgba(0, 0, 0, 0.178);
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 60%;
  margin-bottom: 10px;
  background-color: black;
  transition: all .5s linear .1s; /*Property Duration Timing-function Delay.*/
}

.thumbnail+img {
  display: block;
  position: absolute;
  top: 30%; /*Half of thumbnail's height.*/
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  z-index: 2;
  opacity: .7;
  pointer-events: none;
}

.w3-panel {
  max-width: 100%;
}   

.w3-panel p {
  overflow-x: scroll;
  white-space: nowrap;
}    

.video-group {
  width: 100%;
  padding: 4vh 0;
  overflow-x: hidden;
}

.video-group > p {
  width: 100%;
  margin-bottom: 3px;
}


#close-video {
  -webkit-app-region: no-drag;

  position: absolute;
  bottom: 90vh;
  left: 10vw;
  z-index: 2;
  transition: all 1s ease-in;
  
  display: none;
}

#click-blocker {
  opacity: 0;
  display: none;
  z-index: 1;
  transition: opacity 3s linear;
  
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(27, 4, 16);
}

/*Loading animation
@keyframes loading-bg {
  from {
    opacity: 0.1;
    box-shadow: 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0);
  }
  to {
    opacity: 0.8;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.5), 0 0 20px 1px rgba(0,0,0,0.4);
  }
}

@keyframes loading-img {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

#video-loading {
  position: absolute;
  z-index: 3;
  visibility: hidden;
  overflow: hidden;
  background-color: transparent;
  opacity: 0;

  width: 10vw;
  height: 10vw;
  border-radius: 2px 10vw 10vw 10vw;
  top: calc(50vh - (10vw/2));
  left: calc(50vw - (10vw/2));
  border: none;
}

#video-loading-bg {
  background-color: rgb(255, 3, 129);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

#video-loading-img {
  opacity: 0.1;
  position: relative;
  top: 10%;
  left: 9%;
  width: 80%;
  height: 70%;
  z-index: 2;
}
*/